<template>
   <div class="container">
         <div class="row mt-5">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Users Table</h3>

                <div class="card-tools">
                    <button class="btn btn-success" data-toggle="modal" data-target="#addNew" @click="openModalWindow">Add New <i class="fa fa-user-plus"></i></button>
                    <button class="btn btn-danger" @click="multipleDeleteMode = true" v-if="!multipleDeleteMode">Delete multiple <i class="fa fa-trash"></i></button>
                    <button class="btn btn-danger" v-if="multipleDeleteMode" @click="deleteSelectedRows">Delete Selected</button>
                    <button class="btn btn-success" v-if="multipleDeleteMode" @click="cancelSelectedRows">Cancel</button>
                </div>
              </div>
             
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Actions</th>
                  </tr> 

                  <tr v-for="user in users" :key="user.id">
                    <td>
                         <label v-if="multipleDeleteMode"><input type="checkbox"  @click="addToSelectedRows(user.id)"></label>
                        {{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>

                    <td>
                        <a href="#" data-id="user.id" @click="editModalWindow(user)">
                            <i class="fa fa-edit blue"></i>
                        </a>
                        |
                        <a href="#" @click="deleteUser(user.id)">
                            <i class="fa fa-trash red"></i>
                        </a>

                    </td>
                  </tr>
                </tbody></table>
              </div>
            
              <div class="card-footer">
                 
              </div>
            </div>
           
          </div>
        </div>
            <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h5 v-show="!editMode" class="modal-title" id="addNewLabel">Add New User</h5>
                            <h5 v-show="editMode" class="modal-title" id="addNewLabel">Update User</h5>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <form @submit.prevent="editMode ? updateUser() : createUser()">
                        <div class="modal-body">
                            <div class="form-group">
                                <input v-model="form.first_name" type="text" name="first_name"
                                    placeholder="First Name"
                                    class="form-control" :class="{ 'is-invalid': form.errors.has('first_name') }">
                                <has-error :form="form" field="first_name"></has-error>
                            </div>

                            <div class="form-group">
                                <input v-model="form.last_name" type="text" name="last_name"
                                    placeholder="Last Name"
                                    class="form-control" :class="{ 'is-invalid': form.errors.has('last_name') }">
                                <has-error :form="form" field="last_name"></has-error>
                            </div>

                            <div class="form-group">
                                <input v-model="form.email" type="email" name="email"
                                    placeholder="Email Address"
                                    class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                <has-error :form="form" field="email"></has-error>
                            </div>

                            <div class="form-group">
                                <input v-model="form.username" type="text" name="username"
                                    placeholder="Username"
                                    class="form-control" :class="{ 'is-invalid': form.errors.has('username') }">
                                <has-error :form="form" field="username"></has-error>
                            </div>

                             <div class="form-group">
                                <input v-model="form.address" type="text" name="address"
                                    placeholder="Address"
                                    class="form-control" :class="{ 'is-invalid': form.errors.has('address') }">
                                <has-error :form="form" field="address"></has-error>
                            </div>

                             <div class="form-group">
                                <input v-model="form.postal_code" type="text" name="postal_code"
                                    placeholder="Postal Code"
                                    class="form-control" :class="{ 'is-invalid': form.errors.has('postal_code') }">
                                <has-error :form="form" field="postal_code"></has-error>
                            </div>

                             <div class="form-group">
                                <input v-model="form.contact_number" type="text" name="contact_number"
                                    placeholder="Contact Number"
                                    class="form-control" :class="{ 'is-invalid': form.errors.has('contact_number') }">
                                <has-error :form="form" field="contact_number"></has-error>
                            </div>
                            

                            <div class="form-group">
                                <input v-model="form.password" type="password" name="password" id="password" placeholder="Enter password"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                                <has-error :form="form" field="password"></has-error>
                            </div>

                             <div class="form-group">
                                <input v-model="form.password_confirmation" type="password" name="password_confirmation" id="password_confirmation" placeholder="Enter password confirm"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('password_confirmation') }">
                                <has-error :form="form" field="password_confirmation"></has-error>
                            </div>



                        </div>
                       
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button v-show="editMode" type="submit" class="btn btn-primary">Update</button>
                            <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
                        </div>
                        </form>


                    </div>
                </div>
            </div>
        
    </div>

        
</template>

<script>
    export default {
        data() {
            return {
                editMode: false,
                users: {},
                form: new Form({
                    id: '',
                    first_name : '',
                    last_name: '',
                    email: '',
                    username: '',
                    password: '',
                    address: '',
                    postal_code: '',
                    contact_number: '',
                    password_confirmation: '',

                }),
                form2: new Form({
                    user_ids: [],
                }),
                multipleDeleteMode : false
            }
        },
        methods: {
        
        editModalWindow(user){
           this.form.clear();
           this.editMode = true
           this.form.reset();
           $('#addNew').modal('show');
           this.form.fill(user)
        },
        updateUser(){
           this.form.put('users/'+this.form.id)
               .then(()=>{

                   Toast.fire({
                      icon: 'success',
                      title: 'User updated successfully'
                    })

                    Fire.$emit('AfterCreatedUserLoadIt');

                    $('#addNew').modal('hide');
               })
               .catch(()=>{
                  console.log("Error.....")
               })
        },
        openModalWindow(){
           this.editMode = false
           this.form.reset();
           $('#addNew').modal('show');
        },

        loadUsers() {

            axios.get("users").then( data => (this.users = data.data.data));
        
          //pick data from controller and push it into users object

        },

        createUser(){

            this.$Progress.start()

            this.form.post('users')
                .then(() => {
                   
                    Fire.$emit('AfterCreatedUserLoadIt'); //custom events

                        Toast.fire({
                          icon: 'success',
                          title: 'User created successfully'
                        })

                        this.$Progress.finish()

                        $('#addNew').modal('hide');

                })
                .catch(() => {
                   console.log("Error......")
                })

     

            //this.loadUsers();
          },
          deleteUser(id) {
            Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                
              if (result.value) {
                //Send Request to server
                this.form.delete('users/'+id)
                    .then((response)=> {
                            Swal.fire(
                              'Deleted!',
                              'User deleted successfully',
                              'success'
                            )
                    this.loadUsers();

                    }).catch(() => {
                        Swal.fire({
                          icon: 'error',
                          title: 'Oops...',
                          text: 'Something went wrong!',
                          footer: '<a href>Why do I have this issue?</a>'
                        })
                    })
                }

            })
          },

           addToSelectedRows(id){
               
                var index = this.form2.user_ids.indexOf(id);
                if (index > -1){
                    this.form2.user_ids.splice(index, 1);
                } else {
                    this.form2.user_ids.push(id);
                }

            },

            cancelSelectedRows(){
                this.multipleDeleteMode = false;
                this.form2.user_ids = [];
            },

            deleteSelectedRows() {

                
                if(this.form2.user_ids.length == 0){
                    return;
                }

                Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete them!'
                }).then((result) => {
                    
                if (result.value) {
                    //Send Request to server
                    this.form2.delete('users-delete-multiple')
                        .then((response)=> {
                                Swal.fire(
                                'Deleted!',
                                'Users deleted successfully',
                                'success'
                                )
                        this.loadUsers();

                        }).catch(() => {
                            Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                            footer: '<a href>Why do I have this issue?</a>'
                            })
                        })
                    }

                })
            }
        },

        created() { 
            this.loadUsers();

            Fire.$on('AfterCreatedUserLoadIt',()=>{ //custom events fire on
                this.loadUsers();
            });

        }
    }
</script>
